<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="form-group">
      <%= f.label :message, "What's happening?" %><br>
    </div>
    <div class="form-group">
      <%= f.text_area :message , class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.submit "update", class: "btn btn-default" %>
    </div>
  </div>

<% end %>
